//* TYPOGRAPHY *//

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding-top: 0.05%;
  padding-bottom: 0.6%;
  z-index: 10;
  position: absolute;
  background-color: white;
  width: 100%;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 20px;
  font-size:calc(100% + 1.5vw);
  font-weight: 700;
  margin: 0;
  padding-left:calc(2% + 1vw);
}

header p {
  padding: 0 20px;
  margin: 0;
}

h1 {
  font-size: 60px;
  font-size: 4vw;
  font-size:calc(100% + 4vw);
  padding-top: 1.5vw;
  padding-left:calc(2% + 1vw);
  padding-right: 10vw;
}

video {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(12% + 1vw);
  box-sizing: inherit;
}

h1.lab {
  font-size: 60px;
  font-size: 4vw;
  font-size:calc(100% + 4vw);
  padding-top: 1.5vw;
  padding-left:calc(2% + 1vw);
  padding-right: 10vw;
}

h4.grundtext {
  font-size: 38px;
  font-size: 1.5vw;
  font-size:calc(100% + 1.5vw);
  padding-top: 8vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(12% + 1vw);
}

h5.grundtext {
  font-size: 24px;
  font-size: 1vw;
  font-size:calc(100% + 1vw);
  padding-top: 3vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(12% + 1vw);
}

p.grundtext {
  font-size: 16px;
  font-size: 0.6vw;
  font-size:calc(100% + 0.6vw);
  padding-top: 1.5vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(12% + 1vw);
}

ul.grundtext {
  padding-top: 1.5vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(12% + 1vw);
}

li.grundtext {
  font-size: 16px;
  font-size: 0.6vw;
  font-size:calc(100% + 0.6vw);
  padding-top: 1.5vw;
  padding-left: calc(1% + 01vw);
  padding-right:calc(16% + 1vw);
}

a {
  color: inherit !important;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-color: #031d44;
  background-size: cover;
  color: #dab785;
  height: auto;
  margin: 0;
  padding-top: 8%;
  padding-bottom: 8%;
  border-radius: 0;
  min-height: 250px !important;
}

.jumbotron h2 {
  font-size: 120px;
  font-size:calc(110% + 10vw);
  margin: 0;
  color: #dab785;
  padding-left:calc(2% + 1vw);
  font-weight: 700;
}

.jumbotron h3 {
  font-size: 20px;
  font-size: 1vw;
  font-size:calc(100% + 1vw);
  position: static;
  margin: 0 0 20px;
  color: #dab785;
  padding-left:calc(2% + 1vw);
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

div.grundtext {
  max-width: 1400px;
}

div.abschluss {
  max-width: 1400px;
  padding-bottom: 10vw;
}

footer {
  font-weight: 600;
  font-size: 12px;
  padding: 0.5vw;
}

footer .col-sm-12 {
  display: flex;
  justify-content: center;
}

footer ul {
  list-style: none;
}

.experimentelles {
  display: flex;
  background-size: cover;
  background-color: #70a288;
  color: #04395e;
  font-weight: 700;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
}

.experimentelles:hover {
  background-color: #04395e;
  color: #70a288;
}

.lab {
  display: flex;
  background-size: cover;
  background-color: #d5896f;
  color: #dab785;
  font-weight: 700;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
}

.lab:hover {
  background-color: #dab785;
  color: #d5896f;
}

.case {
  display: flex;
  background-size: cover;
  background-color: #dab785;
  color: #d5896f;
  font-weight: 700;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
}

.case:hover {
  background-color: #d5896f;
  color: #dab785;
}

.diverses {
  display: flex;
  background-size: cover;
  background-color: #04395e;
  color: #70a288;
  font-weight: 700;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
}

.diverses:hover {
  background-color: #70a288;
  color: #04395e;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.copy {
  text-align: center;
  align-items: center;
  justify-content: center
}

.back {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: white;
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  position: fixed;
  width: 100%;
  font-size: calc(100% + 1.5vw);
  font-weight: 700;

}
