//* TYPOGRAPHY *//

body {
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #031d44;
  line-height: 1.5;
  font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  background-color: rgba(218, 183, 133, 0.1) !important;
  background: rgba(218, 183, 133, 0.1) !important;
}

header {
  padding-top: 0.05%;
  padding-bottom: 0.6%;
  z-index: 10;
  position: absolute;
  width: 100%;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-family: "Playfair Display";
  font-size:calc(100% + 1.5vw);
  font-weight: 700;
  color: #031d44;
  margin: 0;
  padding-left:calc(2% + 1vw);
  spacing: 0.3;
}

header p {
  padding: 0 20px;
  margin: 0;
}

h1 {
  font-family: "Playfair Display";
  font-size:calc(100% + 4vw);
  color: #1c3356;
  font-weight: 700;
  padding-top: 1.5vw;
  padding-left:calc(5% + 1vw);
  padding-right:calc(5% + 1vw);
  spacing: 0.3;
}

video {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(12% + 1vw);
  box-sizing: inherit;
}

h4.grundtext {
  font-family: "Playfair Display";
  font-weight: 700;
  color: #1c3356;
  font-size: 38px;
  font-size: 1.5vw;
  font-size:calc(100% + 1.5vw);
  padding-top: 5vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(12% + 1vw);
}

h5.grundtext {
  font-family: "Playfair Display";
  font-weight: 700;
  color: #1c3356;
  font-size:calc(100% + 1vw);
  padding-top: 2.5vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(12% + 1vw);
}

p.grundtext {
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #031d44;
  line-height: 1.5;
  font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  font-size:calc(100% + 0.6vw);
  padding-top: 1vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(12% + 1vw);
}

ul.grundtext {
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #031d44;
  line-height: 1.5;
  font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  padding-right:calc(16% + 1vw);
  padding-left:calc(12% + 1vw);
  margin-left:calc(6% + 1vw);
}

li.grundtext {
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #031d44;
  line-height: 1.5;
  font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  font-size:calc(100% + 0.6vw);
  padding-top: 1vw;
  padding-left: calc(1% + 01vw);
  padding-right:calc(16% + 1vw);
}

a {
  color: inherit !important;
  text-decoration: none;
  border-bottom: 1px solid #dab785;
  box-shadow: inset 0 -4px 0 #dab785;
  transition: background 0.3s ease-out;
}

a:hover {
    background: rgba(218, 183, 133, 0.6);
}

.jumbotron {
  font-family: "Playfair Display";
  font-weight: 700;
  display: flex;
  align-items: center;
  background-color: #031d44;
  background-size: cover;
  color: #dab785;
  height: auto;
  margin: 0;
  padding-top: 8%;
  padding-bottom: 8%;
  border-radius: 0;
  min-height: 250px !important;
}

.jumbotron h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 120px;
  font-size:calc(110% + 10vw);
  margin: 0;
  color: #dab785;
  padding-left:calc(2% + 1vw);
  font-weight: 700;
  text-align: center;
  margin: auto;
  letter-spacing: 2px;
}

.jumbotron h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 20px;
  font-size: 1vw;
  font-size:calc(100% + 1vw);
  color: #dab785;
  position: absolute;
  float: right;
}

.small-caps {
    -moz-font-feature-settings: "c2sc", "smcp";
    -ms-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";
    letter-spacing: 0.05em;
}

.tabular-figures {
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
}

.oldstyle-figures {
    -moz-font-feature-settings: "onum";
    -ms-font-feature-settings: "onum";
    -webkit-font-feature-settings: "onum";
    font-feature-settings: "onum";
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

div.grundtext {
  max-width: 1400px;
  margin: auto;
}

div.abschluss {
  max-width: 1400px;
  padding-bottom: 10vw;
  margin: auto;
}

footer {
  font-weight: 600;
  font-size: 12px;
  padding: 0.5vw;
}

footer .col-sm-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  float: none;
}

.experimentelles {
  font-family: "Playfair Display";
  font-weight: 700;
  display: block;
  background-size: cover;
  color: #031d44;
  font-weight: 700;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
}

.lab {
  font-family: "Playfair Display";
  font-weight: 700;
  display: block;
  background-size: cover;
  color: #031d44;
  font-weight: 700;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
  float: right;
}

.case {
  font-family: "Playfair Display";
  font-weight: 700;
  display: block;
  background-size: cover;
  color: #031d44;
  font-weight: 700;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
}

.diverses {
  font-family: "Playfair Display";
  font-weight: 700;
  display: block;
  background-size: cover;
  color: #031d44;
  font-weight: 700;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
  float: right;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.copy {
  font-family: "Playfair Display";
  font-weight: 700;
  color: #031d44;
  font-size:calc(100% + 0.6vw);
  text-align: center;
  align-items: center;
  justify-content: center
}

.back {
  font-family: "Playfair Display";
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: white;
  color: #031d44;
  padding-left: calc(0.5% + 0.1vw);
  position: fixed;
  width: 100%;
  font-size: calc(100% + 1.5vw);
  font-weight: 700;
  height: calc(7% + 1vw);
}

iframe {
  display: flex;
  margin: 0 auto;
}


@media only screen and (max-width: 500px){
  iframe {
    width: 350px;
    height: 200px;
    margin: auto;
    padding: 0
  }
  li.grundtext, ul.grundtext, p.grundtext, h5.grundtext, h4.grundtext {
    padding-left: 15px;
    padding-right: 15px;
  }

  .back {
    font-family: "Playfair Display";
    font-weight: 700;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: white;
    color: #031d44;
    padding-left: calc(3% + 1.1vw);
    position: fixed;
    width: 100%;
    font-size: 2.5em;
    height: calc(3% + 1vw);
  }

  body {
    font-size: 12px !important;
  }

h1.col-sm-4 {
  font-size: 2.5em;
}

  h1 {
    font-size: 3.5em;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
