/*TYPOGRAPHY*/

body {
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #031d44;
  line-height: 1.5;
  font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  background: rgba(218, 183, 133, 0.1) !important;
}

header {
  padding-top: 0.05%;
  padding-bottom: 0.6%;
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: rgb(250, 246, 240) !important;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-family: "Playfair Display";
  font-size:calc(100% + 1.5vw);
  font-weight: 700;
  color: #031d44;
  margin: 0;
  padding-left:calc(2% + 1vw);
  spacing: 0.5;
}

header p {
  padding: 0 20px;
  margin: 0;
}

h1 {
  font-family: "Playfair Display";
  font-size:calc(100% + 4vw);
  color: #324766;
  font-weight: 700;
  padding-top: 1.5vw;
  padding-left:calc(5% + 1vw);
  padding-right:calc(5% + 1vw);
  spacing: 0.3;
}

video {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(16% + 1vw);
  box-sizing: inherit;
}

h4.grundtext {
  font-family: "Playfair Display";
  font-weight: 700;
  color: #324766;
  font-size:calc(100% + 1.5vw);
  padding-top: 5vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(16% + 1vw);
  spacing: 0.3;
}

h5.grundtext {
  font-family: "Playfair Display";
  font-weight: 700;
  color: #324766;
  font-size:calc(100% + 1vw);
  padding-top: 2.5vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(16% + 1vw);
  spacing: 0.3;
}

p.grundtext {
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #1c3356;
  line-height: 1.5;
  font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  font-size:calc(100% + 0.6vw);
  padding-top: 1vw;
  padding-right:calc(16% + 1vw);
  padding-left:calc(16% + 1vw);
}

ul.grundtext {
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #1c3356;
  line-height: 1.5;
  font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kerjumbotron-fluidn", "liga", "clig", "calt";
  padding-right:calc(16% + 1vw);
  padding-left:calc(16% + 1vw);
  margin-left:calc(6% + 1vw);
}

li {
  font-family: 'Fira Sans';
  font-weight: 400;
  color: #1c3356;
  line-height: 1.5;
  font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  font-size:calc(100% + 0.6vw);
  padding-top: 1vw;
  padding-left: calc(1% + 01vw);
  padding-right:calc(5% + 1vw);
}

a {
  color: inherit !important;
  text-decoration: none !important;
  border-bottom: 1px solid #dab785;
  box-shadow: inset 0 -4px 0 #dab785;
  transition: background 0.3s ease-out;
}

a:hover {
    background: rgba(218, 183, 133, 0.6);
}

.jumbotron {
  font-family: "Playfair Display";
  font-weight: 700;
  display: flex;
  align-items: center;
  background-color: #031d44;
  background-size: cover;
  color: #dab785;
  height: auto;
  margin: 0;
  padding-top: 8%;
  padding-bottom: 8%;
  border-radius: 0;
  min-height: 250px !important;
}

.jumbotron h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size:calc(110% + 10vw);
  color: #dab785;
  padding-left:calc(2% + 1vw);
  text-align: center;
  margin: auto;
  letter-spacing: 2px;
}

.jumbotron h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size:calc(100% + 1vw);
  color: #dab785;
  position: absolute;
  float: right;
}

.small-caps {
    -moz-font-feature-settings: "c2sc", "smcp";
    -ms-font-feature-settings: "c2sc", "smcp";
    -webkit-font-feature-settings: "c2sc", "smcp";
    font-feature-settings: "c2sc", "smcp";
    letter-spacing: 0.05em;
}

.tabular-figures {
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
}

.oldstyle-figures {
    -moz-font-feature-settings: "onum";
    -ms-font-feature-settings: "onum";
    -webkit-font-feature-settings: "onum";
    font-feature-settings: "onum";
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

div.grundtext {
  max-width: 1400px;
  margin: auto;
}

div.abschluss {
  max-width: 1400px;
  padding-bottom: 10vw;
  margin: auto;
}

footer {
  font-weight: 600;
  font-size: 12px;
  padding: 0.5vw;
}

footer .col-sm-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  float: none;
}

.experimentelles {
  font-family: "Playfair Display";
  font-weight: 700;
  display: block;
  background-size: cover;
  color: #031d44;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
}

.lab {
  font-family: "Playfair Display";
  font-weight: 700;
  display: block;
  background-size: cover;
  color: #031d44;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
  float: right;
}

.case {
  font-family: "Playfair Display";
  font-weight: 700;
  display: block;
  background-size: cover;
  color: #031d44;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
}

.diverses {
  font-family: "Playfair Display";
  font-weight: 700;
  display: block;
  background-size: cover;
  color: #031d44;
  margin-bottom: 0;
  height: auto;
  padding-bottom: 10%;
  min-height: 150px !important;
  float: right;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.copy {
  font-family: "Playfair Display";
  font-weight: 700;
  color: #031d44;
  font-size:calc(100% + 0.6vw);
  text-align: center;
  align-items: center;
  justify-content: center
}

.back {
  font-family: "Playfair Display";
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: white;
  color: #031d44;
  padding-left: calc(0.5% + 0.1vw);
  position: fixed;
  width: 100%;
  font-size: calc(100% + 1.5vw);
  height: calc(7% + 1vw);
}

iframe {
  display: flex;
  margin: 0 auto;
  width: 55vw;
  height: 45vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
}

img {
  display: flex;
  margin: 0 auto;
  width: 55vw;
  height: 40vw;
  padding-top: 1vw;
  padding-bottom: 2vw;
}


@media only screen and (max-width: 780px){
  img {
    display: flex;
    margin: 0 auto;
    width: 90vw;
    height: 70vw;
  }

  iframe {
    width: 90vw;
    height: 70vw;
    margin: auto;
    padding: 0;
  }

  li.grundtext, ul.grundtext, p.grundtext, h5.grundtext, h4.grundtext {
    padding-left: 15px;
    padding-right: 15px;
  }

  .back {
    font-family: "Playfair Display";
    font-weight: 700;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: white;
    color: #031d44;
    padding-left: calc(3% + 1.1vw);
    position: fixed;
    width: 100%;
    font-size: 2.5em;
    height: calc(3% + 1vw);
  }

  body {
    font-size: 12px !important;
  }

  h1.col-sm-4 {
    font-size: 2.5em;
  }

  h1 {
    font-size: 4.5em;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  blockquote {
    border: 2px solid #324766 !important;
    max-width: 500px !important;
    padding: 2.5vw 3vw !important;
  }

  blockquote::after {
      top: 1.5vw !important;
      left: 1.5vw !important;
  }

    blockquote .arrow::before {
      left: -1.2rem !important;
      right: auto;
      border-width: 2rem 0 0 2rem;
  }

  .arrow::before {
      border-color: #324766 transparent;
      top: 0.5rem !important;
      right: -2rem !important;
      border-width: 1.2rem 0 0 1.2rem !important;
  }

  .arrow::before, .arrow::after {
      display: block;
      position: absolute;
      content: '';
      border-style: solid;
      width: 0;
  }

  .arrow::after {
      border-color: rgb(250, 246, 240) transparent;
      top: 0.66rem !important;
      left: -0.9rem !important;
      right: auto;
      border-width: 1rem 0 0 1rem !important;
  }


}

/* Blockquote */

blockquote {
  padding: 1.5vw 2vw;
  color: #1c3356;
  font-size:calc(100% + 0.6vw);
  line-height: 1.4;
  font-family: 'Fira Sans';
  margin-left: calc(20% + 1vw) !important;
  margin: 2vw auto 2vw;
  position: relative;
  font-weight: 400;
  border: 3px solid #324766;
  max-width: 900px;
}

blockquote::after {
    z-index: -1;
    position: absolute;
    width: 100.25%;
    height: 100.5%;
    display: block;
    content: '';
    background: rgba(218, 183, 133, 0.4);
    top: 0.4vw;
    left: 0.4vw;
}

.content blockquote .arrow {
  left: 0;
  right: auto;
}

/* Arrow */

span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.arrow {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}

blockquote .arrow {
    left: 0;
    right: auto;
}

blockquote .arrow::before {
    left: -2rem;
    right: auto;
    border-width: 2rem 0 0 2rem;
}

.arrow::before {
    border-color: #324766 transparent;
    top: 1rem;
    right: -1rem;
    border-width: 2rem 2rem 0 0;
}

.arrow::before, .arrow::after {
    display: block;
    position: absolute;
    content: '';
    border-style: solid;
    width: 0;
}

.content blockquote .arrow::after {
    left: -0.7rem;
    right: auto;
    border-width: 0.875rem 0 0 0.875rem;
}

.arrow::after {
    border-color: rgb(250, 246, 240) transparent;
    top: 1.2rem;
    left: -1.475rem;
    right: auto;
    border-width: 1.5rem 0 0 1.5rem;
}
