body {
  font-family: 'Open Sans', sans-serif, 'Bungee Inline', cursive, 'Bungee Hairline', cursive, 'Bungee Outline', cursive;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

h1 {
  font-family: 'Bungee Inline', cursive;
  font-size: 8.0em;
  line-height: 0.1;
  font-weight: 400;
}

h2 {
  font-family: 'Bungee Hairline', cursive;
  font-size: 8.0em;
  line-height: 0.1;
  font-weight: 400;
}

h3 {
  font-family: 'Bungee Outline', cursive;
  font-size: 8.0em;
  line-height: 0.1;
  font-weight: 400;
}

img {
  width: 100%;
}


.container {
  width: 750px;
  margin: 0;
  height: auto;
}

.big {
  color:;
  font-size: 30px;
}
.lead {
  font-size: 40px;
}
.box {
  background-color: gray;
  width: 400px;
  height: 600px;
}
.auszeichnung {
  color:red;
}
